{% extends 'base.html' %}

{% block head %}
    <title> Words and Photos Creation</title>
{% endblock %}

{% block body %}
    <div style="align-items: center;">

        <h2> BUILDX</h2>

        <div>
            
            <form>
                <input type="text" name="word" id="word" placeholder="Put in Word">
                <br>
                <br>  
                <input type="file" name="images" id="images">
            </form>

        </div>
        
        <div>

        </div>

    </div>
{% endblock %}